.test-container {
  padding: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-text {
  padding-left: 15px;
  display: flex;
  color: white;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.filter-text button {
  border: none;
  padding: 5px 5px;
  background-color: inherit;
  cursor: pointer;
  border-bottom: 2px solid white;
}
.filter-text button:hover {
  color: #2b3d4e;
}
.filter-text .active-filter {
  border-bottom: 2px solid #2b3d4e;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .test-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
