/* Header.css */
.navbar {
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  justify-content: space-between;
  padding: 8px 15px;
  font-size: 0.9em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.logo {
  /* border: 1px solid white; */
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.links {
  display: flex;
}
.links > div {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
}

.link:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid black;
}
