/* score page */
.scoreBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #dfe6e9;
}
.scorePage {
  display: flex;
  flex-direction: column;
  width: min(800px, 100%);
  margin: auto;
  height: 100%;
}
.scoreHead {
  padding: 10px;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.summary {
  display: flex;
  width: 100%;
}

.section {
  flex: 1;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
}
.section > div:first-child {
  font-weight: bold;
  text-align: center;
}
.section > div:last-child {
  text-align: center;
  flex: 1;
}
.section:last-child {
  border: none;
}

.section div {
  padding: 10px;
}
.chartSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chartBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.chartHeader {
  padding-top: 10px;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

.scoreFooter {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.scoreFooter button {
  padding: 10px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  color: white;
}
.scoreFooter button:hover {
  background-color: #636e72;
  color: white;
}
